<table>
  <tbody>
  <tr>
    <td>Hi <%= @user.try(:first_name) %>,</td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td>
      Welcome to Test App.
    </td>
  </tr>
  <tr>
    <td>
      Thanks for joining us
    </td>
  </tr>
  </tbody>
</table>
